.wrapper {
    height: 53px;
    width: 200px;
    margin : 12px auto 16px auto;
    color: #ffffff;
    text-align: right;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 300;
    white-space : nowrap;
    padding-top: 12px;
    overflow: hidden;
}
.wrapper p {
    float: right;
}

.prev {
    font-size: 18px;
    line-height: 21px;
    margin :0 0 8px 0;
    width: 100%;
}

.current {
    font-size: 21px;
    line-height: 24px;
}