.input-area1 {
    display: grid;
    width: 231px;
    height: 146px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0 auto;
}
.input-area2 {
    display: grid;
    width: 231px;
    height: 46px;
    grid-template-columns: 3fr 1fr;
    margin: 0 auto;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: hidden;
}

.wrapper {
    margin : 0 auto 5px auto;
}

.hide-border-top {
    border-top: none;
}
.hide-border-bottom {
    border-bottom: none;
}

.hide-border-left {
    border-left: none;
}

.hide-border-right {
    border-right: none;
}
